body {
  position: relative;
}

section {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
}

section > h2 svg {
  display: none;
}

.section--hero {
  padding-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  article {
    text-align: center;

    h1 {
      margin-bottom: 2rem;
      font-size: 2.5rem;
      line-height: 1.1;
    }

    em {
      display: block;
      overflow: hidden;
      color: var(--prettyColor);
      line-height: 120%;

      span {
        display: inline-block;
      }
    }

    .hero-copy {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      margin-bottom: 2.5rem;
      color: var(--prettyColorShade);
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 135%;
    }

    a.button {
      font-size: 1rem;
      padding: 0.75rem 1.5rem;
      background-image: linear-gradient(180deg, var(--prettyColor), #0067e6);
    }

    .hero-disclaimer {
      font-size: 1rem;
      margin-top: 1.25rem;
    }
  }
}

.product-wrapper {
  .section--product {
    max-height: 155px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.wrapper-about {
  background-image: linear-gradient(0deg, #fff, var(--bodyBackgroundColor));
}

.section--about {
  padding: 8rem 1rem;

  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    &:not(:first-child) {
      margin-top: 8rem;
    }

    & > div {
      width: 90%;
    }

    .about-text {
      margin-top: 2rem;
    }

    img {
      border-radius: 1rem;
      box-shadow: 0px 8px 28px 0 rgba(34, 33, 81, 0.25);
    }

    h2 {
      margin-top: 0px;
      margin-bottom: 1.5rem;
      font-size: 2.25rem;
      line-height: 110%;
      font-weight: 700;
    }

    p {
      color: var(--prettyColorShade);
    }

    .about-usp {
      display: flex;
      align-items: center;

      p {
        color: var(--bodyFontColor);
        margin: 0;
      }

      .svg-wrapper,
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.section--pricing {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.section--pricing h2 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
}

.plans-parent {
  max-width: 44rem;
  margin: 0 auto;
  padding-top: 4rem;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.plan-wrapper {
  --svg-icon-tint: var(--prettyColor);
  padding: 11%;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 8px 10px 0px, rgba(34, 34, 34, 0.07) 0px 0px 0px 1px inset;

  display: grid;
  align-items: end;
  grid-template-rows: auto auto minmax(0px, 1fr);
}

.plan-wrapper--pro {
  --svg-icon-tint: #fff;
  background: var(--prettyColor);
  color: #fff;
}

.plan-name {
  margin-top: 0px;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 5px;
  font-weight: 500;
}

.plan-wrapper--free .plan-name {
  color: var(--prettyColor);
}

.plan-price {
  margin: 0 0 1.25rem;
  font-weight: 600;
  line-height: 1.1;
  font-size: 2.5rem;
  letter-spacing: -1.5px;
}

.plan-price span {
  margin: 0px;
  margin-left: 0.5rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  color: currentcolor;
  opacity: 0.5;
}

.plan-wrapper .button {
  display: block;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  text-align: center;
}

.section__testimonials {
  padding: 6rem 1rem;
}

.section__testimonials h2 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.testimonials-tile__wrapper {
  padding-top: 4rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials-tile__content-wrapper {
  box-sizing: content-box;
  padding: 12px;
  flex-basis: 344px;
  max-width: 344px;
  position: relative;
  padding-top: 40px;
}

.testimonials-tile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 32px 64px rgba(24, 35, 52, 0.24);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 8px 10px 0px, rgba(34, 34, 34, 0.07) 0px 0px 0px 1px inset;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 48px;
  background: #fff;
}

.testimonial-tile-header > div {
  position: absolute;
  top: 12px;
}

.testimonial-tile-header img {
  display: block;
  max-width: 100%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 16px 24px rgba(24, 35, 52, 0.24);
}

.testimonial-tile-content {
  flex: 1;
}

.testimonial-tile-content p {
  margin: 0;
}

.testimonial-tile-footer {
  position: relative;
  margin-bottom: 0;
  margin-top: 2rem;
  padding-top: 1.5rem;
}

.testimonial-tile-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 1px;
  opacity: 0.3;
  background: var(--prettyColor);
}

.testimonial-tile-name {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.1px;
  font-weight: 700;
}

.testimonial-tile-dash {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.1px;
  color: var(--prettyColor);
}

.testimonial-tile-link a {
  color: var(--prettyColor);
  font-weight: 600;
}

.testimonial-tile-link a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  section > h2 svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: -2px;
    margin-right: 0.5rem;
  }

  .section--hero {
    padding: 8rem 1rem 4rem;
  }

  .section--hero article {
    h1 {
      margin-top: 0;
      font-size: 4.5rem;
      line-height: 105%;
    }

    .hero-copy {
      font-size: 1.5rem;
    }
  }

  .product-wrapper .section--product {
    max-height: 275px;
  }

  .section--pricing {
    padding-top: 6rem;
  }

  .plans-parent {
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials-tile__wrapper {
    margin-left: -12px;
    margin-right: -12px;
  }
}

@media screen and (min-width: 769px) {
  .product-wrapper .section--product {
    max-height: 475px;
  }

  .section--about {
    article {
      flex-direction: row;

      & > div {
        width: 50%;
      }

      .about-text {
        margin-top: 0;
      }

      &.text-left {
        .about-image {
          order: 9999;
        }
        .about-text {
          margin-right: 3rem;
        }
      }

      &.text-right .about-text {
        margin-left: 3rem;
      }
    }
  }
}

/* TRANSITIONS ONLY FOR PEOPLE WITH NO REDUCED MOTION PREFERENCE */
@media (prefers-reduced-motion: no-preference) {
  .section--hero em span {
    transform: translateY(115%) translateZ(0);

    animation: move-up 0.8s forwards;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .section--hero em span:nth-child(2) {
    animation-delay: 0.55s;
  }

  .section--hero .hero-copy {
    opacity: 0;
    transform: translateY(45%) translateZ(0);

    animation: move-up 0.8s forwards, fade-in 0.5s forwards;
    animation-delay: 0.9s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .section--hero a.button {
    opacity: 0;

    animation: fade-in 0.5s forwards;
    animation-delay: 1.15s;
    animation-timing-function: ease-out;
  }

  .section--hero .hero-disclaimer {
    opacity: 0;

    animation: fade-in 0.5s forwards;
    animation-delay: 1.3s;
    animation-timing-function: ease-out;
  }

  .section--product img {
    opacity: 0;
    transform: translateY(5%) translateZ(0);

    animation: move-up 0.8s forwards, fade-in 0.5s forwards;
    animation-delay: 1.45s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  section > h2 svg .blink {
    animation: blink 1.5s step-start 0s infinite;
  }

  @keyframes move-up {
    to {
      transform: translateY(0) translateZ(0);
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
