header {
  width: 100%;
  max-width: 70rem;
  padding: 1rem 1rem 0;
  margin: 0 auto;

  nav {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a:first-child {
      font-size: 1.25rem;
      font-weight: 700;
      margin-right: auto;
    }

    .button {
      margin-left: 1rem;
    }
  }
}
